MIMIR_EXTERNAL_URL="https://arka.internal"
MIMIR_PROXY_HOST="proxy.arka.internal"
MIMIR_INPUT_DIR="/app/data/mimir/inputs"
MIMIR_REPORT_DIR="/app/data/mimir/reports"
MIMIR_TOKEN_TTL_MINUTES=15
MIMIR_UPLOAD_MAX_SIZE=104857600  # 100 MB
MIMIR_GEOIP_DB_PATH="/app/data/mimir/dbip-city-lite.mmdb"
