{
    "ARKA_LOGDIR": "ARKA_LOGS",
    "ALLOWED_HOSTS": [
        "127.0.0.1",
        "localhost",
        "pymap.internal"
    ],
    "CSRF_TRUSTED_ORIGINS": [],
    "CELERY_BROKER_URL": {
        "scheme": "amqp",
        "username": "arka",
        "password": "CHANGEME!",
        "host": "rabbitmq-arka",
        "port": 5672,
        "vhost": "forj"
    },
    "DATABASES": {
        "default": {
            "ENGINE": "django.db.backends.sqlite3",
            "NAME": "db.sqlite3"
        }
    },
    "CACHES": {
        "default": {
            "BACKEND": "django.core.cache.backends.dummy.DummyCache"
        }
    }
}